mixin filterBar(data)
    ul.filter-bar-wrap.clearfix
        - iconMap = ['icon-biaoqian', 'icon-location', 'icon-sort']
        each filter, index in data
            li

                a.current
                    i.iconfont(class="#{iconMap[index]}")
                    | #{filter.current}
                    i.iconfont.icon-sanjiao

                ul
                    each children in filter.child
                        li
                            a(href='#') #{children.text}





