.footer
	.container
		.row
			ul.text-center.footer-nav-bar
				li.nav-item
					a.nav-link(href="/") 首页
				li.nav-item
					a.nav-link(href="/") 科幻电影
				li.nav-item
					a.nav-link(href="/") 科幻电影
				li.nav-item
					a.nav-link(href="/") 科幻电影
				li.nav-item
					a.nav-link(href="/") 科幻电影
			p.text-center.friend-link 感谢这些技术支持：
				a(href="/") nodejs
				a(href="/") jade
				a(href="/") express
				a(href="/") mongodb
				a(href="/") gulp
				a(href="/") bootstrap
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
