- menus = [{title: '首页', href: '/'},{title: '排行榜', href: '/ranking'},{title: '选电影', href: '/explore'}, {title: 'Admin', href: '/admin'}]

- frendLinks = [{title: 'nodejs', href: '/'},{title: 'jade', href: '/'},{title: 'express', href: '/'},{title: 'mongodb', href: '/'},{title: 'gulp', href: '/'}, {title: 'bootstrap', href: '/'}]

.footer
	.container
		.row
			ul.text-center.footer-nav-bar
				each menu in menus
					li.nav-item
						a.nav-link(href="#{menu.href}") #{menu.title}
			p.text-center.friend-link 感谢这些技术支持：
				each frendlink in frendLinks
					a(href="#{frendlink.href}") #{frendlink.title}
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
