- menus = [{title: '首页', href: '/'},{title: '排行榜', href: '/ranking'},{title: '选电影', href: '/explore'},{title: 'Admin', href: '/admin'}]

.nav-bar
	.container
		.row
			.col-xs-12
				a.brand(href="/")
					i.iconfont.icon-dianyin.logo
				ul.nav-menus
					each menu in menus
						li.menu
							a.menu-link.active(href="#{menu.href}") #{menu.title}
				.account
					if user
						.account-user
							img.avatar(src="/images/captain.jpeg")
							ul.user-operation
								li
									a.user-name #{user.account}
								li
									a(href="/") 设置
								li
									a#logOut 退出
					else
						a.acount-link(href="/sigup") 注册
						a.acount-link(href="/login") 登录
				.search.hidden-xs
					i.iconfont.icon-search
					input.search-input(placeholder="请搜索名称，导演，演员")
			
