.nav-bar
	.container
		.row
			a.brand(href="/")
				i.iconfont.icon-dianyin.logo
			ul.nav-menus
				li.menu
					a.menu-link.active(href="/") 首页
				li.menu
					a.menu-link(href="/") 科幻电影
				li.menu
					a.menu-link(href="/") 科幻电影
				li.menu
					a.menu-link(href="/") 科幻电影
				li.menu
					a.menu-link(href="/") 科幻电影
			.acount
				img.avatar(src="/images/captain.jpeg")
			.search
				i.iconfont.icon-search
				input.search-input(placeholder="请搜索名称，导演，演员")
			
