- menus = [{title: '首页', href: '/'},{title: '排行榜', href: '/ranking'},{title: '选电影', href: '/explore'},{title: '影评', href: '/review'},{title: '关于作者', href: '/ranking'},{title: 'Admin', href: '/admin'}]

.nav-bar
	.mw-container
		a.brand(href="/")
			i.iconfont.icon-dianyin.logo
		ul.nav-menus
			each menu in menus
				li.menu
					a.menu-link(href="#{menu.href}") #{menu.title}
		.account
			if user
				.account-user
					img.avatar(src="/images/captain.jpeg")
					ul.user-operation
						li
							a.user-name #{user.account}
						li
							a(href="/") 设置
						li
							a#logOut 退出
			else
				a.acount-link(href="/sigup") 注册
				a.acount-link(href="/login") 登录
		.search
			i(id="iconSearchBtn").iconfont.icon-search
			input.search-input(id="searchInput", placeholder="请搜索名称，导演，演员")
			ul.search-suggest-wrap