meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon",href="/images/movie.png",type="image/x-icon")
link(rel="stylesheet", href="//at.alicdn.com/t/font_462849_u5l3bl9l12qn0zfr.css")
//link(href="/libs/bootstrap/bootstrap.min.css", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/common.min.css")
script.
    function imgError(ele) {
        //ele.src = '/images/captain.jpeg';
        ele.src = 'http://www.gbtags.com/gb/laitu/200x280&text=啊哦，图片加载失败！/333333/ffffff';
        ele.onerror = null;
    }