meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon",href="/images/movie.png",type="image/x-icon")
link(rel="stylesheet", href="//at.alicdn.com/t/font_462849_7bcgmhx1h9w9udi.css")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(rel="stylesheet", href="/stylesheets/style.min.css")