@import "../../../src/stylesheets/mixins/variable.less";

// 轮播图基本样式
@import "../../../src/stylesheets/unslider/unslider.less";
@import "../../../src/stylesheets/components/banner.less";

// list-layout 样式
@import "../../../src/stylesheets/components/list-layout.less";

// section-title-bar 样式
@import "../../../src/stylesheets/components/section-title-bar.less";






.page-home {
	.section-part-top {
		position: fixed;
		top: @navbarHeight;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding: 20px 0;
		.some-content {
			text-align: center;
			height: 175px;
			background: @colorSuccess;
			border-radius: @radiusSize;
		}
	}
	.section-part-content {
		position: relative;
		z-index: 10;
		margin-top: 560px;
		background: @colorSilver;

	}
}