extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/home/home.min.css")

block content
	.page-home
		.section-part-top
			.mw-container
				+banner(bannerData)
				.mw-row
					each item in [1,2,3,4]
						.mw-col-15
							.some-content someText
		.section-part-content
			.mw-container
				each model in modelsData
					+listLayout(model, {lazyImg: false})



block afterContent
	script(src="/javascripts/unslider.min.js")
	script(src="/javascripts/home/home.min.js")
					