include ./list-item
include ../section-title-bar

mixin listLayout(data, config)
    .layout-list-wrap
        +sectionTitleBar(data.modelTitle)
        ul.list-wrap-content.mw-row
            each itemData, index in data.elements
                li.list-wrap-item.mw-col-12
                    +listItem(itemData, {
                        lazyImg: config && config.lazyImg ? true : false,
                        imgErrorSize: config.imgErrorSize,
                        isFirstEle: index == 0,
                        isRanks: config.isRanks
                    })
