extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/explore/explore.min.css")

block content
	- category = [{current: '不限类别', child: [{text: '喜剧'}, {text: '剧情'}, {text: '奇幻'}, {text: '科幻'}, {text: '爱情'}, {text: '魔法'}, {text: '动作'}]},{current: '不限地区', child: [{text: '大陆'}, {text: '美国'}, {text: '日本'}, {text: '韩国'}, {text: '泰国'}, {text: '英国'}]}, {current: '默认排序', child: [{text: '时间最新'}, {text: '热度最高'}, {text: '评价最好'}]}]

	.page-explore
		.mw-container
			+filterBar(category)
			.movie-list-wrap
				ul.mw-row
					each movie in movies
						li.mw-col-10
							+listItem(movie, {imgHeight: 258})
			._pagination
block afterContent
	script(src="/javascripts/jquery.pagination.min.js")
	script.
		var pagination_total = parseInt('#{total}');
		var pagination_countPerPage = parseInt('#{countPerPage}');
		var pagination_currentPage = parseInt('#{currentPage}');
	script(src="/javascripts/explore/explore.min.js")