extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/review/review.min.css")

block content
	.page-review
		.mw-container
			ul.review-list-wrap
				each movie, index in movies
					li
						+listItemReview(movie)
