extends ../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/explore.min.css")

block content
	.page-explore
		.container
			.category-group-wrap
				.row
					.col-xs-12
						.category-group.clearfix
							span.category-nane 类型
							ul.category-list
								each type in ["喜剧", "悲剧", "爱情", "动作", "枪战", "犯罪", "惊悚", "恐怖", "悬疑", "动画", "家庭", "奇幻"]
									li.list-item.active
										a.item-name(href="#") #{type}
						.category-group.clearfix
							span.category-nane 地区
							ul.category-list
								each type in ["喜剧", "悲剧", "爱情", "动作", "枪战", "犯罪", "惊悚", "恐怖", "悬疑", "动画", "家庭", "奇幻"]
									li.list-item.active
										a.item-name(href="#") #{type}
			.movie-list-wrap
				.row
					each movie in movies
						.col-lg-2.col-md-3.col-sm-4.col-xs-6
							a(href="/detail/123").movie-box
								.movie-cover
									img(src="/images/captain.jpeg")
								.movie-name #{movie.name}
									sapn.movie-rate #{movie.rate} 分
