extends ../layout/index

block content
	.hello
		.container
			.row
				h1.text-center.lead nodejs mongodb jade
				.text-center
					img.hello-img.text-center(src='/images/captain.jpeg')
block afterContent
	script(src="/javascripts/demo.js")