extends ../layout/index

block afterHeadContent
	link(href="/stylesheets/unslider.min.css", rel="stylesheet")

block content
	.home
		.banner-wrp
			.banner
				ul
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
		.container
			.row
				mixin moviePreview(movies)
					.recommend
							a.recommend-title.text-center(href="/") 科幻电影
							.recommend-video-wrap
								each item in movies
									.recommend-video
										.video-cover-wrap
											.video-cover(style="background-image: url(#{item.cover})")
				+moviePreview(movie)
				+moviePreview(movie)
				+moviePreview(movie)
				
		
block afterContent
	script(src="/javascripts/unslider.min.js")
	script(src="/javascripts/home.js")
					