extends ../layout/index

block afterHeadContnt
	link(href="/stylesheets/unslider.min.css", rel="stylesheet")

block content
	.home
		.banner-wrp
			.banner
				ul
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
					li
						a(href="/",style="background-image: url(/images/bg-2.jpg)")
		.container
			.row
				.recommend
					a.recommend-title.text-center(href="/") 科幻电影
					.recommend-video-wrap
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
			.row
				.recommend
					a.recommend-title.text-center(href="/") 科幻电影
					.recommend-video-wrap
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
						.recommend-video
							.video-cover-wrap
								.video-cover(style="background-image: url(/images/captain.jpeg)")
block afterContent
	script(src="/javascripts/unslider.min.js")
	script(src="/javascripts/home.js")
					