doctype
html(lang="zh-cmn-Hans")
	head
		meta(chartset="utf-8")
		title #{title}
		include ../include/head
		block afterHeadContent
	body
		.page-content
			include ../include/header
			block content
		.page-footer
			include ../include/footer
		block afterContent