doctype
html(lang="zh-cmn-Hans")
	head
		meta(chartset="utf-8")
		title #{title}
		include ../include/head
		block afterHeadContnt
	body
		include ../include/header
		block content
		include ../include/footer
		block afterContent