extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/admin/admin.min.css")

block content
	.page-admin
		a(href="/movie/list").admin-manage-entrance 电影管理
		a(href="/user/list").admin-manage-entrance 用户管理
		
block afterContent
	script(src="/javascripts/admin/movie/movie-list/admin-list.min.js")