extends ../../layout/index

block afterHeadContent
	link(rel="stylesheet", href="/stylesheets/ranking/ranking.min.css")

block content
	.page-ranking
		.section-top-part
			.part-banner
				.mw-container
					.banner-content banner-content
			.mw-container
				.part-category
					h2.category-title #{pageTitle}
					.more-type-wrap 更多类型
						.more-type-content
							.concave-radius.top-left.position-right
							.concave-radius.top-right.position-left
							ul.more-type
								each type in ["喜剧", "悲剧", "爱情", "动作", "枪战", "犯罪", "惊悚", "恐怖", "悬疑", "动画", "家庭", "奇幻"]
									li
										a #{type}

		.mw-container
			.movie-list-wrap
				ul.mw-row
					each movie, index in movies
						li.mw-col-30
							+listItemRanking(movie, {rank: index + 1})
			a.load-more 加载更多
				.loader
			//._pagination
block afterContent
	script(src="/javascripts/jquery.pagination.min.js")
	script(src="/javascripts/ranking/ranking.min.js")